<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout_list}"
>
<body>
<section layout:fragment="content">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Msg</th>
            <th>Data Resposta</th>
            <th>Resposta</th>
            <th>Ativo</th>
            <th>Criado</th>
            <th>Atualizado</th>
            <th class="text-center">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${list.empty}">
            <td colspan="9"> Não há dados para listar!</td>
        </tr>
        <tr th:each="contato : ${list}">
            <td><span th:text="${contato.id}">  </span></td>
            <td><span th:text="${contato.email}">  </span></td>
            <td><span th:text="${contato.msg}">  </span></td>
            <td><span th:text="${#dates.format(contato.dataResposta, 'dd-MM-yyyy')}"></span></td>
            <td><span th:text="${contato.resposta}">  </span></td>

            <td><span th:text="${contato.ativo ? 'Sim': 'Não'}">  </span></td>
            <td><span th:text="${#dates.format(contato.createAt, 'dd-MM-yyyy HH:mm:ss')}"></span>
            </td>
            <td><span th:text="${#dates.format(contato.updateAt, 'dd-MM-yyyy HH:mm:ss')}"></span>
            </td>
            <td class="btn-group-sm text-center">
                <a type="button" class="btn btn-info"
                   th:href="@{/contatos/editar(id=${contato.id})}">
                    <i class="fa fa-edit"></i>
                </a>
                <a type="button" class="btn btn-danger"
                   th:href="@{/contatos/remover(id=${contato.id})}">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
