<div class="card-body p-0">
    <div class="table-responsive">
        <table id="example2" class="table m-0">
            <thead>
            <tr>
                <th>#</th>
                <th>Rol</th>
                <th>Status</th>
                <th>Pgto-status</th>
                <th>D-geral</th>
                <th>S-Total</th>
                <th>Des</th>
                <th>Total</th>
                <th>PGTO</th>
                <th>Sal Dev.</th>
                <th>Dt criação</th>
                <th>Dt entrega</th>
                <th>Dt conclusão</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="tbodyRol">
            <tr th:if="${single.compra.empty}">
                <td colspan="15"> Nenhum compra!</td>
            </tr>
            <div th:each="compra, row : ${single.compra}" class="text-center">
                <tr th:id="${'compra'+compra.id}" data-widget="expandable-table" aria-expanded="true"
                    th:style="'background:#'+ ${row.index % 2 == 0 ? 'e7e7e7' : 'white'}">
                    <td>
                        <button type="button" class="btn btn-primary p-0">
                            <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                        </button>
                    </td>
                    <td>
                        <span th:text="${compra.id}"></span>
                    </td>
                    <td><a style="color: black!important"
                           th:attr="onclick='ItemController.setStatusAll('+ ${compra.id} + ', \''+ ${compra.status.value} + '\', '+ ${single.id} + ', \''+ ${single.nome}+ '\', \''+ ${compra.saldoAPagar}+ '\', \'compra-cliente\');'"
                           th:class="${compra.getStyleRol(compra.status)}+' product-description'"
                           th:text="${compra.status.value}">
                    </a>
                    </td>
                    <td>
                        <a style="color: black!important"
                           th:attr="onclick='PagamentoController.addPagamento(\''+ ${compra.id} + '\', \''+ ${compra.statusPagamento.value} + '\', '+ ${single.id} + ', \''+ ${single.nome}+ '\', \''+ ${compra.saldoAPagar}+ '\', \'compra-cliente\');'"
                           th:class="${compra.getStylePagamento(compra.statusPagamento)}+' product-description'"
                           th:text="${compra.statusPagamento.value}">
                        </a>
                    </td>

                    <td><span th:text="${#numbers.formatDecimal(compra.desconto, 1, 'POINT', 2, 'COMMA')}"></span></td>
                    <td><span th:text="${#numbers.formatDecimal(compra.subTotal, 1, 'POINT', 2, 'COMMA')}"></span></td>
                    <td><span th:text="${#numbers.formatDecimal(compra.totalDescontos, 1, 'POINT', 2, 'COMMA')}"></span></td>
                    <td><span th:text="${#numbers.formatDecimal(compra.total, 1, 'POINT', 2, 'COMMA')}"></span></td>
                    <td><span th:text="${#numbers.formatDecimal(compra.totalPagamentos, 1, 'POINT', 2, 'COMMA')}"></span></td>
                    <td><span th:style="${compra.saldoAPagar > 0.00} ? 'color: red' : 'color: green' " th:text="${#numbers.formatDecimal(compra.saldoAPagar, 1, 'POINT', 2, 'COMMA')}"></span></td>
                    <td><span th:text="${#dates.format(compra.dataCad, 'dd/MM/yy')}"></span></td>
                    <td>
                        <span style="color: red" th:if="${compra.entregaAt != null}" th:text="${#dates.format(compra.entregaAt, 'dd-MM-yy HH:mm')}"></span>
                        <a th:unless="${compra.entregaAt != null}"
                           th:attr="onclick='RolController.dtEntregaRolModal('+ ${compra.id} + ', \''+ ${single.nome} + '\', \'compra-cliente\');'">
                            <i class="far fa-calendar-alt"></i>
                        </a>
                    </td>
                    <td><span th:text="${ compra.status.value == 'CONCLUIDO'?  #dates.format(compra.dataRecente, 'dd/MM/yy'): '-'}"></span></td>
                    <td class="btn-group-sm text-center">
                        <a th:href="@{/compra/print(id=${compra.id})}" rel="noopener" target="_blank" class="btn btn-outline-dark btn-xs" style="padding: 0 8px!important;"><i class="fas fa-print"></i></a>
                        <a th:if="${compra.status.value != 'CONCLUIDO' && compra.status.value != 'CANCELADO'}" th:href="@{${'/compra/edicao?id='+compra.id}}" class="btn btn-outline-primary btn-xs" style="padding: 0 8px!important;"><i class="fas fa-edit"></i></a>
<!--                        <a th:if="${compra.status.value == 'PRONTO_RETIRADA'}"-->
<!--                           th:attr="onclick='WppController.sendMsg('+ ${compra.id} + ', \''+ ${compra.status.value} + '\', \''+ ${single.nome} + '\', \''+ ${single.telefone1} + '\', \''+ ${single.telefone2} + '\', \''+ ${compra.msg}+ '\', \'compra-cliente\');'"-->
<!--                           th:class="${compra.getStyleWpp(compra)}" style="padding: 0 8px!important;">-->
<!--                            <ion-icon name="logo-whatsapp"></ion-icon>-->
<!--                        </a>-->
                    </td>
                </tr>
                <tr th:id="${'rolItem'+compra.id}" class="expandable-body" th:if="${compra != null}">
                    <td colspan="15" th:style="'background-color:#'+ ${row.index % 2 == 0 ? '0000000f' : 'white'}">
                        <div class="p-0">
                            <table class="table table-hover">
                                <tbody>
                                <tr class="expandable-body">
                                    <td>
                                        <div class="p-0">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr style="color: #1c1c1c;font-size: 12px;">
                                                    <th>Item</th>
                                                    <th>Status</th>
                                                    <th>Serviço</th>
                                                    <th>Tecido</th>
                                                    <th>Cor</th>
                                                    <th>Obs</th>
                                                    <th>Uni</th>
                                                    <th>Qtd</th>
                                                    <th>V.Unit</th>
                                                    <th>S-Total</th>
                                                    <th>Des</th>
                                                    <th>Total</th>
                                                    <th>Lacre</th>
                                                    <th>Prat</th>
                                                    <th>Lav</th>
                                                    <th>Dt</th>
                                                    <th>Dt entrega</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:if="${compra.items.empty}">
                                                    <td colspan="10"> Nenhum item adicionado!</td>
                                                </tr>
                                                <tr th:each="item : ${compra.items}" style="color: #000; font-size: 13px;text-transform: uppercase;">
                                                    <td><span th:text="${item.id}"></span></td>
                                                    <td>
                                                        <a style="cursor: pointer;color: black!important;"
                                                           th:attr="onclick='ItemController.statusItemModal('+ ${item.id} + ', \''+ ${item.statusItem.value} + '\', '+ ${single.id} + ','+ ${compra.id} + ', \''+ ${single.nome} + '\', \''+ ${item.lavadoresAll} + '\', '+ ${item.prateleira.id} + ', \'compra-cliente\');'"
                                                           th:class="${item.getStyleItem(item.statusItem)}+' product-description'"
                                                           th:text="${item.statusItem.value}">
                                                        </a>
                                                    </td>
                                                    <td><span th:text="${item.servico == null || item.servico.id == null ? '' : item.getCorte(item.servico.nome, 35)}" th:title="${item.servico.nome}"></span></td>
                                                    <td><span th:text="${item.tecido == null || item.tecido.id == null ? '' : item.getCorte(item.tecido.nome, 10)}" th:title="${item.tecido.nome}"></span></td>
                                                    <td><span th:text="${item.cor == null || item.cor.id == null ? '' : item.getCorte(item.cor.nome, 10)}" th:title="${item.cor.nome}"></span></td>
                                                    <td><span th:title="${item.descricao}" th:text="${item.descricao == null ? '' : item.getCorte(item.descricao, 20)}"></span></td>
                                                    <td><span th:text="${item.unidade.value}"></span></td>
                                                    <td><span th:text="${#numbers.formatDecimal(item.qtd, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                                    <td><span th:text="${#numbers.formatDecimal(item.valor, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                                    <td><span th:text="${#numbers.formatDecimal(item.subTotal, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                                    <td><span th:text="${#numbers.formatDecimal(item.desconto, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                                    <td><span th:text="${#numbers.formatDecimal(item.total, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                                    <td><span th:text="${item.lacre}"></span></td>
                                                    <td><span th:text="${item.prateleira == null || item.prateleira.id == null ? '' : item.prateleira.nome}"></span></td>
                                                    <td><span th:text="${item.lavadores == null ? '' : item.getCorte(item.concatNome(item.lavadores),3)}" th:title="${item.concatNome(item.lavadores)}"></span></td>
                                                    <td><span th:text="${#dates.format(item.createAt, 'dd/MM/yy')}"></span></td>
                                                    <td>
                                                        <span style="color: red" th:if="${item.entregaAt != null}" th:text="${#dates.format(item.entregaAt, 'dd-MM-yy HH:mm')}"></span>
                                                        <a th:unless="${item.entregaAt != null}"
                                                           th:attr="onclick='ItemController.dtEntregaItemModal('+ ${item.id} + ', '+ ${compra.id} + ', \''+ ${item.servico.nome} + '\', \''+ ${single.nome} + '\', \'compra-cliente\');'">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7">
                                        <div class="p-0">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr style="color: #7c8f33;font-size: 13px;">
                                                    <th>Pagamento</th>
                                                    <th>Valor</th>
                                                    <th>Descricao</th>
                                                    <th>Data</th>
                                                    <th>Check</th>
                                                    <th style="color: #000;"><span th:title="${compra.internaobs}" th:text="${ compra.internaobs == null ? 'Obs Interna: -' :'Obs Interna: '+ compra.getCorte(compra.internaobs, 120)}"></span></th>
                                                    <th style="color: #000;"><span th:title="${compra.descricao}" th:text="${ compra.descricao == null ? 'Obs Geral: -' : 'Obs Geral: '+ compra.getCorte(compra.descricao, 120)}"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:if="${compra.pagamentos.empty}">
                                                    <td colspan="7"> Nenhum pagamento!</td>
                                                </tr>
                                                <tr th:each="pgto : ${compra.pagamentos}"
                                                    th:style="'font-family: monospace; color: #301f1f; font-size: 13px;' + ${compra.statusPagamento.value == 'ESTORNADO' ? 'text-decoration: line-through;' : ''}">
                                                    <td><span th:text="${pgto.tipoPagamento.value}"></span></td>
                                                    <td><span th:text="${#numbers.formatDecimal(pgto.valor, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                                    <td><span th:title="${pgto.descricao}" th:text="${pgto.getCorte(pgto.descricao, 100)}"></span></td>
                                                    <td><span th:text="${#dates.format(pgto.dataRecente, 'dd/MM/yy')}"></span></td>
                                                    <td>
                                                        <span th:if="${pgto.isCheck}" style="color: green"><ion-icon name="checkmark-outline"></ion-icon></span>
                                                        <span th:unless="${pgto.isCheck}" style="color: red"><ion-icon name="close-outline"></ion-icon></span>
                                                    </td>
                                                    <td colspan="2"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="13">
                                        <div class="p-0">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr style="font-size: 12px;">
                                                    <th>ID</th>
                                                    <th>msg</th>
                                                    <th>Retorno</th>
                                                    <th>Dt</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:if="${compra.wpps.empty}">
                                                    <td colspan="13"> Nenhuma msg!</td>
                                                </tr>
                                                <tr th:each="wpp : ${compra.wpps}" style="color: #000; font-size: 12px;">
                                                    <td><span th:text="${wpp.id}"></span></td>
                                                    <td><span th:text="${wpp.msg}"></span></td>
                                                    <td><span th:title="${wpp.descricao}" th:text="${wpp.getCorte(wpp.descricao, 11)}"></span></td>
                                                    <td><span th:text="${#dates.format(wpp.createAt, 'dd-MM-yy HH:mm')}"></span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix" style="display: block;"></div>
</div>