<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
</head>

<body>
<div th:fragment="resultsList">

    <tr th:if="${list.empty}">
        <td colspan="10"> Nenhum cliente encontrado!</td>
    </tr>
<div th:each="cliente, linha : ${list}">
<tr data-widget='expandable-table' aria-expanded='false' class="text-center" th:style="'background: '+ ${linha.index % 2 == 0 ? '#e7e7e7' : 'white'}">
    <td>
        <button type="button" class="btn btn-primary p-0">
            <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
        </button>
    </td>
    <td class="btn-group-sm text-center">
        <a type="button" class="btn bg-orange color-palette" style="padding: 1px!important"
           th:href="@{/usuarios/profile(id=${cliente.id})}">
            <i class="fa fa-eye"></i>
        </a>
        <a type="button" class="btn btn-info" style="margin-left:10px;padding: 1px!important"
           th:href="@{/compra/new(id=${cliente.id})}">
            <i class="fa fa-plus-square"></i>
        </a>
    </td>
    <td><span th:text="${cliente.nome}"></span></td>
    <td><span class="cpfcnpj" th:text="${cliente.identificacao}"></span></td>
    <td>
        <span th:text="${cliente.endereco == null || cliente.endereco.logradouro == null ? '' :cliente.endereco.logradouro}"></span>

        <span th:text="${cliente.endereco == null || cliente.endereco.numero == null ? '' : ', n°'+cliente.endereco.numero}"></span>

        <span th:text="${cliente.endereco == null || cliente.endereco.complemento == null ? '' : ', Comp:'+cliente.endereco.complemento}"></span>
    </td>
    <td><span class="telefone" th:text="${cliente.telefone1}"></span></td>
    <td><span class="telefone" th:text="${cliente.telefone2}"></span></td>
    <td><span th:text="${cliente.endereco == null || cliente.endereco.bairro == null ? '' : cliente.endereco.bairro}"></span>
    </td>
    <td>
        <span th:text="${cliente.endereco == null || cliente.endereco.cidade == null || cliente.endereco.cidade == null ? '' : cliente.endereco.cidade}"></span>
    </td>
    <td><span th:text="${#dates.format(cliente.dataCad, 'dd-MM-yyyy HH:mm:ss')}"></span></td>
</tr>
<tr class='expandable-body d-none'>
    <td colspan='11'>
        <div class='p-0'>
            <table class='table table-hover'>
                <tbody>
                <tr data-widget='expandable-table' aria-expanded='false'>
                    <div class='table-responsive'>
                        <table class='table m-0'>
                            <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Rol</th>
                                <th>Status</th>
                                <th>Pgto-status</th>
                                <th>Obs-interna</th>
                                <th>Obs-geral</th>
                                <th>Des-geral</th>
                                <th>Sub Total</th>
                                <th>Des</th>
                                <th>Total</th>
                                <th>PGTO</th>
                                <th>Sal Dev.</th>
                                <th>Data</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyRol">

                            <tr th:if="${cliente.compra.empty}">
                                <td colspan="15"> Nenhum compra em aberto!</td>
                            </tr>
                            <div th:each="compra, row : ${cliente.compra}">
                            <tr th:id="${'compra'+compra.id}" th:if="${compra != null}" data-widget="expandable-table" aria-expanded="false" class="text-center"
                                th:style="'background: '+ ${row.index % 2 == 0 ? '#e7e7e7' : 'white'}">
                                <td>
                                    <button type="button" class="btn btn-outline-dark p-0">
                                        <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                    </button>
                                </td>
                                <td>
                                    <span th:text="${compra.id}"></span>
                                </td>
                                <td><a style="color: black!important;cursor: pointer;"
                                       th:attr="onclick='ItemController.setStatusAll(\''+ ${compra.id} + '\', \''+ ${compra.status.value} + '\', '+ ${cliente.id} + ', \''+ ${cliente.nome}+ '\', \''+ ${compra.saldoAPagar}+ '\', \'compra-index\');'"
                                       th:class="${compra.getStyleRol(compra.status)}+' product-description'"
                                       th:text="${compra.status.value}">
                                </a>
                                </td>
                                <td>
                                    <a style="color: black; cursor: pointer;"
                                       th:disabled="${compra.statusPagamento.value == 'PAGO' || compra.statusPagamento.value == 'CANCELADO' || compra.statusPagamento.value == 'ESTORNADO'}"
                                       th:attr="onclick='PagamentoController.addPagamento(\''+ ${compra.id} + '\', \''+ ${compra.statusPagamento.value} + '\', '+ ${cliente.id} + ', \''+ ${cliente.nome}+ '\', \''+ ${compra.saldoAPagar}+ '\', \'compra-index\');'"
                                       th:class="${compra.getStylePagamento(compra.statusPagamento)}+' product-description'"
                                       th:text="${compra.statusPagamento.value}">

                                    </a>
                                </td>
                                <td><span th:title="${compra.internaobs}" th:text="${compra.getCorte(compra.internaobs, 11)}"></span></td>
                                <td><span th:title="${compra.descricao}" th:text="${compra.getCorte(compra.descricao, 11)}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(compra.desconto, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(compra.subTotal, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(compra.totalDescontos, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(compra.total, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                <td><span th:text="${#numbers.formatDecimal(compra.totalPagamentos, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                <td><span th:style="${compra.saldoAPagar > 0.00} ? 'color: red' : 'color: green' "
                                          th:text="${#numbers.formatDecimal(compra.saldoAPagar, 1, 'POINT', 2, 'COMMA')}"></span>
                                </td>
                                <td><span th:text="${#dates.format(compra.dataCad, 'dd-MM-yyyy HH:mm:ss')}"></span></td>
                                <td class="btn-group-sm text-center">
                                    <a th:href="@{/compra/print(id=${compra.id})}" rel="noopener" target="_blank" class="btn btn-outline-dark btn-xs"
                                       style="padding: 0 8px!important;"><i class="fas fa-print"></i></a>
                                    <a th:if="${compra.status.value != 'CONCLUIDO' && compra.status.value != 'CANCELADO'}" th:href="@{${'/compra/edicao?id='+compra.id}}"
                                       class="btn btn-outline-primary btn-xs" style="padding: 0 8px!important;"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                            <tr th:id="${'rolItem'+compra.id}" th:if="${compra != null}" class="expandable-body d-none" >
                                <td colspan="15" th:style="'background-color:#'+ ${row.index % 2 == 0 ? '0000000f' : 'white'}">
                                    <div class="p-0">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="p-0">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr style="color: #1c1c1c;font-size: 12px;" class="text-center">
                                                                <th>Item</th>
                                                                <th>Status</th>
                                                                <th>Serviço</th>
                                                                <th>Unid.</th>
                                                                <th>Qtd</th>
                                                                <th>V.Unit</th>
                                                                <th>SubTotal</th>
                                                                <th>Desc.</th>
                                                                <th>Total</th>
                                                                <th>Lacre</th>
                                                                <th>Prat</th>
                                                                <th>Lav</th>
                                                                <th>Data</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:if="${compra.items.empty}">
                                                                <td colspan="13"> Nenhum item adicionado!</td>
                                                            </tr>
                                                            <tr th:each="item : ${compra.items}" style="color: #000; font-size: 12px;" class="text-center">
                                                                <td><span th:text="${item.id}"></span></td>
                                                                <td>
                                                                    <a style="color: black"
                                                                       th:attr="onclick='ItemController.statusItemModalIndex('+ ${item.id} + ', \''+ ${item.statusItem.value} + '\', '+ ${cliente.id} + ','+ ${compra.id} + ', \''+ ${cliente.nome} + '\', \''+ ${item.lavadoresAll} + '\', '+ ${item.prateleira.id} + ', \'compra-index\');'"
                                                                       th:class="${item.getStyleItem(item.statusItem)}+' product-description'"
                                                                       th:text="${item.statusItem.value}">
                                                                    </a>
                                                                </td>
                                                                <td><span
                                                                        th:text="${item.servico == null || item.servico.id == null ? '' : item.servico.nome}"></span>
                                                                </td>
                                                                <td><span
                                                                        th:text="${item.servico.unidade == null ? '' : item.servico.unidade.value}"></span>
                                                                </td>
                                                                <td><span th:text="${#numbers.formatDecimal(item.qtd, 1, 'POINT', 2, 'COMMA')}"></span></td>
                                                                <td><span th:text="${#numbers.formatDecimal(item.valor, 1, 'POINT', 2, 'COMMA')}"></span>
                                                                </td>
                                                                <td><span th:text="${#numbers.formatDecimal(item.subTotal, 1, 'POINT', 2, 'COMMA')}"></span>
                                                                </td>
                                                                <td><span th:text="${#numbers.formatDecimal(item.desconto, 1, 'POINT', 2, 'COMMA')}"></span>
                                                                </td>
                                                                <td><span th:text="${#numbers.formatDecimal(item.total, 1, 'POINT', 2, 'COMMA')}"></span>
                                                                </td>
                                                                <td><span th:text="${item.lacre}"></span></td>
                                                                <td><span
                                                                        th:text="${item.prateleira == null || item.prateleira.id == null ? '' : item.prateleira.nome}"></span>
                                                                </td>
                                                                <td><span th:text="${item.concatNome(item.lavadores)}"></span></td>
                                                                <td><span th:text="${#dates.format(item.dataRecente, 'dd-MM-yyyy HH:mm:ss')}"></span></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="border-bottom: 1px solid black;">
                                                    <div class="p-0">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr style="color: #7c8f33;font-size: 12px;" class="text-center">
                                                                <th>Pagamento</th>
                                                                <th>Valor</th>
                                                                <th>Obs.</th>
                                                                <th>Data</th>
                                                                <th>Check</th>
                                                                <th style="color: #000;"><span th:title="${compra.internaobs}" th:text="${ compra.internaobs == null ? 'Obs Interna: -' :'Obs Interna: '+ compra.getCorte(compra.internaobs, 120)}"></span></th>
                                                                <th style="color: #000;"><span th:title="${compra.descricao}" th:text="${ compra.descricao == null ? 'Obs Geral: -' : 'Obs Geral: '+ compra.getCorte(compra.descricao, 120)}"></span></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:if="${compra.pagamentos.empty}">
                                                                <td colspan="3"> Nenhum pagamento!</td>
                                                            </tr>
                                                            <tr th:each="pgto : ${compra.pagamentos}" class="text-center"
                                                                th:style="'font-family: monospace; color: #000; font-size: 14px;' + ${compra.statusPagamento.value == 'ESTORNADO' ? 'text-decoration: line-through;' : ''}">
                                                                <td><span th:text="${pgto.tipoPagamento.value}"></span></td>
                                                                <td><span th:text="${#numbers.formatDecimal(pgto.valor, 1, 'POINT', 2, 'COMMA')}"></span>
                                                                </td>
                                                                <td><span th:title="${pgto.descricao}" th:text="${pgto.getCorte(pgto.descricao,40)}"></span>
                                                                </td>
                                                                <td><span th:text="${#dates.format(pgto.dataRecente, 'dd-MM-yyyy HH:mm:ss')}"></span></td>
                                                                <td>
                                                                    <span th:if="${pgto.isCheck}" style="color: green"><ion-icon name="checkmark-outline"></ion-icon></span>
                                                                    <span th:unless="${pgto.isCheck}" style="color: red"><ion-icon name="close-outline"></ion-icon></span>
                                                                </td>
                                                                <td colspan="2"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </tr>
            </table>
        </div>
    </td>
</div>
</div>
</body>
</html>