<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout_adm}"
>
<body>
<section layout:fragment="content" th:each="single : ${list}" style="padding: 0!important;">
    <input type="hidden" th:hidden="true" th:value="${single.linearToJson}" id="visitors">
    <input type="hidden" th:hidden="true" th:value="${single.piramideToJson}" id="piramide">

    <div class="container-fluid" style="padding: 0!important;">

        <div th:replace="~{paginas/dashboards/monitor/boxes}"></div>

        <!-- Info boxes -->
        <div th:replace="~{paginas/dashboards/monitor/grafico}"></div>
        <!-- /.Info boxes -->

        <!-- Resumo-->
        <div th:replace="~{paginas/dashboards/tabelas/resumo_tabela}"></div>
        <!-- /.Resumo-->

        <!-- Modaais-->
        <div th:replace="~{paginas/dashboards/modais/consulta}"></div>
        <!-- /.Modaais-->
    </div>
</section>
</body>
</html>
