<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout_form}"
>
<body>
<section layout:fragment="content">
    <form role="form" action="/usuarios/newmaisrol" method="post" th:object="${single}">
        <div class="card-header">
            <h3 class="card-title">Novo cliente</h3>
            <div class="card-tools">
                <button type="submit" class="btn btn-info" data-placement="top" title="salvar e retornar">
                    <i class="fa fa-save"></i>
                </button>
                <a type="button" class="btn btn-warning" th:href="@{/usuarios/index}" data-placement="top" title="retornar">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputNome">Nome/Razão social*</label>
                        <input type="text" class="form-control" id="inputNome" placeholder="Informe o Nome/Razão social"
                               onblur="UsuarioController.isNome('')"
                               autofocus autocomplete="off"
                               th:field="*{nome}" required/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputNomeContato">Nome de contato</label>
                        <input type="text" class="form-control" id="inputNomeContato" placeholder="Nome de contato" autocomplete="off"
                               th:field="*{nomecontato}"/>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" autocomplete="off"
                                   th:attr="onblur='UsuarioController.isEmail(\''+ *{email} + '\')'"
                                   th:field="*{email}"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpfcnpj">CPF/CNPJ</label>
                        <input type="text" class="form-control" id="cpfcnpj" autocomplete="off"
                               th:field="*{identificacao}" placeholder="Informe o cpf/cnpj">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputRG">RG</label>
                        <input type="text" class="form-control" id="inputRG"
                               th:field="*{rg}" placeholder="Informe o rg" autocomplete="off"
                               data-inputmask='"mask": "99.999.999-9"'>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Data de nascimento:</label>
                        <div class="input-group date">
                            <input type="date" class="form-control pull-right" th:field="*{nascimento}"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Gênero*</label>
                        <div class="input-group">
                            <label class="radio-inline">
                                <input type="radio" name="optionRadioInline"
                                       checked th:field="*{genero}" value="FEMININO"/>FEMININO
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionRadioInline"
                                       th:field="*{genero}" value="MASCULINO"/>MASCULINO
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionRadioInline"
                                       th:field="*{genero}" value="EMPRESA"/>EMPRESA
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputTelefone1">Tel. 1*</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="inputTelefone1"
                                   data-inputmask='"mask": "(99) 9 9999-9999"' autocomplete="off"
                                   th:field="*{telefone1}" required/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputTelefone2">Tel. 2</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="inputTelefone2"
                                   data-inputmask='"mask": "(99) 9 9999-9999"' autocomplete="off"
                                   th:field="*{telefone2}"/>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Endereço -->
            <hr>
            <h4 class="modal-title">Endereço</h4>
            </br>
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="inputCep">Cep</label>
                        <input type="text" class="form-control cep" id="inputCep"
                               data-inputmask='"mask": "99999-999"' placeholder="CEP" autocomplete="off"
                               th:field="*{endereco.cep}" onblur="pesquisacep(this.value)"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputLogradouro">Endereço</label>
                        <input type="text" class="form-control" id="inputLogradouro"
                               placeholder="Informe a rua ou Avenida" autocomplete="off"
                               th:field="*{endereco.logradouro}"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="inputCondominio">Condominio</label>
                        <input type="text" class="form-control" id="inputCondominio"
                               placeholder="Informe o condominio"
                               th:field="*{endereco.condominio}"/>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputBairro">Bairro</label>
                        <input type="text" class="form-control" id="inputBairro" placeholder="Informe o bairro"
                               th:field="*{endereco.bairro}"/>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputCidade">Cidade*</label>
                        <input type="text" class="form-control" id="inputCidade" placeholder="Informe a cidade"
                               th:field="*{endereco.cidade}" required/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<div layout:fragment="script">
    <!--utilitários-->
    <script th:src="@{/js/Utils.js}"></script>
    <script th:src="@{/paginas/js/utils/viacep.js}"></script>

    <!-- Clients -->
    <script th:src="@{/js/clients/Fetch.js}"></script>

    <!--Controllers-->
    <script th:src="@{/paginas/js/controllers/UsuarioController.js}"></script>
</div>
</body>
</html>
