<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout_form}"
>
<body>
<section layout:fragment="content">
    <form role="form" th:action="${single.persistido} ? ${EDITAR_URL} : ${NEW_URL}" method="post" th:object="${single}">
        <div class="card-header">
            <h3 class="card-title" th:text="${FRM}"></h3>
            <div class="card-tools">
                <button type="submit" class="btn btn-info" data-placement="top" title="salvar e retornar">
                    <i class="fa fa-save"></i>
                </button>
                <a type="button" class="btn btn-warning" th:href="${LIST_URL}" data-placement="top" title="retornar">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
        </div>

        <div class="card-body">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{persistido}">
            <input type="hidden" th:field="*{icone}" id="icone">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="inputNome" placeholder="Informe o nome"
                               th:field="*{nome}" required/>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="inputDescricao">Descrição</label>
                        <input type="text" class="form-control" id="inputDescricao"
                               placeholder="Informe uma descrição"
                               th:field="*{descricao}"/>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label for="inputCor">Cor</label>
                        <input type="text" class="form-control my-colorpicker1 colorpicker-element" data-colorpicker-id="1" data-original-title="" id="inputCor"
                               placeholder="Informe uma cor" autocomplete="off"
                               th:field="*{cor}"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Ativo: </label>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="optionRadioInline" value="true"
                                       th:checked="*{ativo}" th:field="*{ativo}" th:value="${true}"/>sim
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionRadioInline" value="false"
                                       th:checked="*{ativo != true} " th:field="*{ativo}" th:value="${false}"/>não
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Icone</label>
                        <div class="form-group">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active" th:each="icone: ${icones}"
                                       th:attr="onclick='Utils.setValueInput(\''+${'icone'}+'\', \''+ ${icone} + '\');'">
                                    <ion-icon size="large" th:attr="name=${icone}"></ion-icon>
                                    <input type="radio" name="options" autocomplete="off">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>
